#container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.titulo{
    grid-column: 1;
   
}

.foto{
   grid-column: 2;
   display: flex;
   justify-content: right;
   align-items: right;
   
}

